<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="main1">
        <div class="imag">
            <h2>About Us</h2>
        </div>
        <div class="box">
            <div class="box1">
               <div class="content1">
                 <h1>Who We Are</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iure qui sed tenetur mollitia. Inventore maiores qui accusamus veritatis rem laborum expedita eligendi. Doloribus, repellat.</p>
                <img src="../images/imag4.avif" alt="">
               </div>
            </div>
            <div class="box2">
                <div class="content-box2">
                    <h1>Our Mission</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cumque nulla porro, officia, consequuntur neque accusantium nesciunt et reprehenderit accusamus veniam laudantium alias repellendus adipisci.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../script/script.js"></script>
</body>
</html>