<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <nav class="nav-bar">
            <div class="logo">
                <img src="images/imag2.webp" alt="">
                <div class="content">
                    <h2>PRAKIRTI</h2>
                    <p>The Techno Environmental Club</p>
                </div>
            </div>
            <div class="menu">
                <div class="menu-list"><a href="../index.html">Home</a></div>
                <div class="menu-list"><a href="../views/about.html">About Us</a></div>
                <div class="menu-list"><a href="../views/event.html">Events</a></div>
                <div class="menu-list"><a href="../views/project.html">Projects</a></div>
                <div class="menu-list"><a href="../views/gallery.html">Gallery</a></div>
                <div class="menu-list"><a href="../views/blog.html">Blog</a></div>
                <div class="menu-list"><a href="../views/contact.html">Contact Us</a></div>
            </div>
        </nav>
</body>
</html>